body{
    background-color: rgb(129, 198, 201);
}
#nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
#midBox{
    font-weight: bolder;
    color: purple;
    text-shadow: red 2px 1px;
    border-radius: 18px;
    box-shadow: purple 4px 8px;
    font-size: 32px;
    width: 350px;
    height: 150px;
    padding: 0px;
    margin: 0px;
    text-align: center;
    border: 10px solid red;
    line-height: 50px;
}
p{
    margin: 0px;
    padding: 0px;
}
#bodyBox{
    z-index: -1;
    border: seagreen 8px solid;
    position: relative;
    display: flex;
    height: 700px;
    width: 100%;
}
#upperHalf{
    display: flex;
    flex-direction: row;
}
#lowerHalf{
    display: flex;
    flex-direction: row;
}
#fixedBox{
    display: flex;
    position: fixed;
    bottom: 30px;
}
#fcon{
    flex-direction: column;
}
.box{
    background-color: white;
    font-weight: bolder;
    color: purple;
    text-shadow: red 2px 1px;
    font-size: 22px;
    line-height: 30px;
    height: 250px;
    width: 200px;
    border-radius: 12px;
    border: 3px solid red;
    box-shadow: purple 5px 5px;
    padding: 10px;
}
#one{
    position: absolute;
    left: 10px;
    top: 10px;
    line-height: 70px;

}
#two{
    position: absolute;
    right: 10px;
    top: 10px;
}
#three{
    position: absolute;
    bottom: 10px;
    left: 10px;
    line-height: 40px;
}
#four{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
#fixedBox{
    background-color: greenyellow;
    color: red;
    text-align: center;
    height: 80px;
    width: 30%;
    border: red 3px solid;
    border-radius: 12px;
    left: 40%;
    font-size: 30px;
}
img{
    position: absolute;
    top: 20px;
    height: 200px;
    width: 200px;
}
#table{
    z-index: -1;
    background-color: green;
    position: relative;
    text-align: center;
    top: 10px;
    left: 420px;
    width: 550px;
    height: 610px;
    padding: 10px;
    border-left: purple 6px solid;
    border-bottom: purple 6px solid;
    border-top: 6px solid purple;
}
.tableContent{
    font-family: 'Libre Franklin', sans-serif;
    width: 275px;
    height: 250px;
}
.tHeader{
    font-size: larger;
    position: relative;
    bottom: 15px;
}
#tMain{
    font-size: 30px;
    text-shadow: seashell 2px 1px;
}
.tableContent{
    background-color: khaki;
}
#f{
    position: relative;
    bottom: 15px;
}
#unbF{
    padding-bottom: 15px;

}
#redBut{
    border-radius: 5px;
    background-color: red;
}